body {
    margin: 0px;
}

nav {
    border: 9px solid rgb(0, 0, 0);
    width: 165px;
    height: 524px;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 980px;
    top: 410px;
    z-index: 1;
    border-image: url("/public/images/pixelborder.png") 8 fill round;
}

nav iframe {
    height: 925px;
    left: -2px;
}

.wrapper {
    background-color: rgb(255, 255, 255);
    width: 810px;
    border: 1px solid rgb(0, 0, 0);
    height: 900px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 160px;
    top: 50px;
    z-index: 1;
}

.killy {
    position: absolute;
    left: 50px;
    top: -50px;
    height: 800px;
    z-index: 0;
}


.pagedoll {
    position: absolute;
    width: 500px;
    left: -100px;
    top: 300px;
    z-index: 2;
}

.pagedoll2 {
    position: absolute;
    height: 200px;
    left: 1070px;
    top: 210px;
}

.header {
    border: 1px solid black;
    height: 100px;
    width: 100%;
    margin: 10px;
    border-radius: 30px;
}

.title {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 100%;
    margin: 5px;
    overflow: hidden;
}

.logo {
    position: absolute;
    z-index: 3;
    top: 25px;
    left: 100px;
}

.subtitle {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 60px;
    left: 100px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

p span {
    font-weight: bolder;
}
