body {
    margin: 0px;
    background-image: url(images/mono1.jpg);
    background-size: cover;
}


.headers {
    border: 1px solid black;
    height: 25px;
    padding-left: 2px;
    padding-bottom: 6px;
    padding-right: 5px;
    width: 50%;
    font-family: 'blame 2';
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    background-size: cover;
    font-size: 2rem;
    box-shadow: inset white 0px 5px 3px -3px, black inset 0px 0px 5px, white inset 0px 0px 5px;
}

ul {
    padding-left: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-family: 'blue screen personal use regular';
    font-size: 1rem;
}

.mp li {
    border: 1px solid black;
    padding: 5px;
    width: 50%;
    color: white;
    backdrop-filter: blur(3px);
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    box-shadow: inset white 0px 5px 3px -3px, black inset 0px 0px 5px, white inset 0px 0px 5px;


}

.mp a {
    color: white;
}

.love li {
    border: 1px solid black;
    width: 50%;
    padding: 5px;
    color: white;
    backdrop-filter: blur(3px);
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    box-shadow: inset white 0px 5px 3px -3px, black inset 0px 0px 5px, white inset 0px 0px 5px;
}